*{
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

/* Navbar */
nav {
  background-color: #2663ff;
  color: white;
  width: 100%;
}

div .logo.d-flex {
  padding-left: 88px;
}

/* div#navbarSupportedContent.collapse.navbar-collapse {
  padding-left: 187px;
} */

.collapse ul li a {
  color: white;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin-left: 45px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.collapse ul li a:hover {
  color: #002561;
}

form a {
  text-decoration: none;
  color: white;
  margin-right: 93px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/* end of Navbar */

/* Jumbotron */

.jumbotron.background-image{
  background-image: url('../../public/assets/landing/pesawat.svg');
  height: 400px;
}


.jumbotron p {
  font-weight: 900;
  font-size: 80px;
  line-height: 150px;
  color: #0a1531;
  padding-top: 210px;

}

/* enf of Jumbotron */


/* Search Panel */
.plane-panel{
  background-color: #002561;
  padding-top: 15px ;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.plane-panel img{
  width: 30px;
  margin-left: 20px;
}
.plane-panel p{
  font-size: 10px;
  margin-left: 3px;
  color: #fff;
}

.btn-view{
  background-color: #BABABA;
}
/* End of Search Panel */

/* Promotion Banner */
#promotion {
  background: #E4E1E1;
}

.desc-pr {
  text-align: left;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #0a1531;
}

/*.flit-tagline{
  width: 352px;
  height: 63.77px;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #0A1531;
  opacity: 0.5;
}
.btn-tagline{
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  width: 224.62px;
  height: 45.7px;
}

.btn.btn-primary{
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  border-radius: 9px;
} */
/* end of promotion banner */

/* Our Service */
.slides-part{
  margin-left: 50px;
  margin-right: 30px;
}
.desc-slides p{
  font-size: 24px; 
  font-weight: bold; 
  line-height: 36px;
}
/* End of Our Service */
