.user {
  display: flex;
}
.user .userContainer {
  flex: 6;
}
.user .userContainer .content .rounded-circle.profile-pict{
  max-width: 50px;
  max-height: 50px;

}
.rounded-circle.profile-pict{
  margin-top: -1px !important;
}